<div class="header">
  <div class="logo-container">
    <img class="logo" src="../../../assets/img/TestLogo.png" />
  </div>
  <div class="nav-container">
    <div class="nav-item">
      <i class="fas fa-home"></i>
      <span>Overview</span>
    </div>
    <div class="nav-item active">
      <i class="fa-regular fa-user"></i>
      <span>Patients</span>
    </div>
    <div class="nav-item">
      <i class="fa-regular fa-calendar"></i>
      <span>Schedule</span>
    </div>
    <div class="nav-item">
      <i class="fa-regular fa-message"></i>
      <span>Message</span>
    </div>
    <div class="nav-item">
      <i class="fa-solid fa-credit-card"></i>
      <span>Transactions</span>
    </div>
  </div>
  <div class="right-container">
    <div class="dr-info-container">
      <img
        class="profile-img"
        src="../../../assets/img/senior-woman-doctor-and-portrait-smile-for-health-2023-11-27-05-18-16-utc.png"
      />
      <div class="dr-details">
        <div class="name">Dr. Jose Simmons</div>
        <div class="type">General Practitioner</div>
      </div>
    </div>
    <div class="border">|</div>
    <div class="right-nav-container">
      <i class="setting fa-solid fa-gear"></i>
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </div>
  </div>
</div>
